<div class="breadcrumb">
    <h1>Loaders</h1>
</div>

<div class="row">

    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title mb-4">Variant 1</h5>
                <div class="spinner spinner-primary mr-3"></div>
                <div class="spinner spinner-secondary mr-3"></div>
                <div class="spinner spinner-warning mr-3"></div>
                <div class="spinner spinner-danger mr-3"></div>
                <div class="spinner spinner-success mr-3"></div>
                <div class="spinner spinner-info mr-3"></div>
                <div class="spinner spinner-light mr-3"></div>
                <div class="spinner spinner-dark mr-3"></div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title mb-4">Variant 2</h5>

                <div class="spinner-bubble spinner-bubble-primary m-5"></div>
                <div class="spinner-bubble spinner-bubble-secondary m-5"></div>
                <div class="spinner-bubble spinner-bubble-warning m-5"></div>
                <div class="spinner-bubble spinner-bubble-danger m-5"></div>
                <div class="spinner-bubble spinner-bubble-success m-5"></div>
                <div class="spinner-bubble spinner-bubble-info m-5"></div>
                <div class="spinner-bubble spinner-bubble-light m-5"></div>
                <div class="spinner-bubble spinner-bubble-dark m-5"></div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title mb-4">Variant 3</h5>
                <div class="loader-bubble loader-bubble-primary m-5"></div>
                <div class="loader-bubble loader-bubble-secondary m-5"></div>
                <div class="loader-bubble loader-bubble-success m-5"></div>
                <div class="loader-bubble loader-bubble-warning m-5"></div>
                <div class="loader-bubble loader-bubble-danger m-5"></div>
                <div class="loader-bubble loader-bubble-info m-5"></div>
                <div class="loader-bubble loader-bubble-light m-5"></div>
                <div class="loader-bubble loader-bubble-dark m-5"></div>
            </div>
        </div>
    </div>
</div>