	<div class="breadcrumb">
		<div>
			<h1>Version 2</h1>
			<p> Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
		</div>
	</div>
<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-icon mb-4">
      <div class="card-body text-center p-4">
        <div class="d-flex align-items-center justify-content-between">
          <div>
            <i class="material-icons">filter_drama</i>
            <h2 class="font-weight-normal">21</h2>
          </div>
          <div>
            <p class="mt-2 mb-2 h5 font-weight-normal">Users</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-icon mb-4">
      <div class="card-body text-center p-4">
        <div class="d-flex align-items-center justify-content-between">
          <div>
             <i class="material-icons">filter_drama</i>
            <h2 class="font-weight-normal">21</h2>
          </div>
          <div>
            <p class="mt-2 mb-2 h5 font-weight-normal">Orders</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-icon mb-4">
      <div class="card-body text-center p-4">
        <div class="d-flex align-items-center justify-content-between">
          <div>
             <i class="material-icons">filter_drama</i>

            <h2 class="font-weight-normal">21</h2>
          </div>
          <div>
            <p class="mt-2 mb-2 h5 font-weight-normal">Earning</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-icon mb-4">
      <div class="card-body text-center p-4">
        <div class="d-flex align-items-center justify-content-between">
          <div>
           <i class="material-icons">filter_drama</i>
            <h2 class="font-weight-normal">1</h2>
          </div>
          <div>
            <p class="mt-2 mb-2 h5 font-weight-normal">Upload</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row md-row">
  <div class="col-lg-4 half">
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">User Timeline</h5>
        <ul class="list-group pro-timeline">
          <li class="list-group-item">
            <div class="d-flex align-items-center">
              <div class="mr-3 pro-timeline--thumb">
                <i class="material-icons">account_box</i>
              </div>
              <div class="info">
                <h6 class="mb-1">Updated Profile Picture</h6>
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex align-items-center">
              <div class="mr-3 pro-timeline--thumb">
                <i class="material-icons">email</i>
              </div>
              <div class="info">
                <h6 class="mb-1">Sent Mail to John</h6>
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex align-items-center">
              <div class="mr-3 pro-timeline--thumb">
                <i class="material-icons">chat_bubble_outline</i>
              </div>
              <div class="info">
                <h6 class="mb-1">Started Chat with Nicole</h6>
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex align-items-center mb-2">
              <div class="mr-3 pro-timeline--thumb">
                <i class="material-icons">person_add</i>
              </div>
              <div class="info">
                <h6 class="mb-1">Added Mitchell As Friend</h6>
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-4 half">
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">Tasklist </h5>
        <ul class="list-group tasklist-list py-2">
          <li class="list-group-item">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck1">
              <label class="custom-control-label" for="customCheck1">Consectetur adipiscing elit, sed do eiusmod tempor
                incididunt</label>
            </div>
          </li>
          <li class="list-group-item">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck2">
              <label class="custom-control-label" for="customCheck2">Sed do eiusmod tempor incididunt ut labore et
                dolore jorave os uop</label>
            </div>
          </li>
          <li class="list-group-item">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck3">
              <label class="custom-control-label" for="customCheck3">Consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut</label>
            </div>
          </li>
          <li class="list-group-item">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck4">
              <label class="custom-control-label" for="customCheck4">Sed do eiusmod tempor incididunt ut labore et
                dolore jorave os uop</label>
            </div>
          </li>
          <li class="list-group-item">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck5">
              <label class="custom-control-label" for="customCheck5">Consectetur adipiscing elit, sed do eiusmod tempor
                incididunt</label>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-4 full">
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">Top Authors</h5>
        <div class="d-flex align-items-center border-bottom-dotted-dim pb-3 mb-2">
          <img class="avatar-md rounded mr-3" src="./assets/images/thumb/user-2.jpg" alt="">
          <div class="flex-grow-1">
            <h6 class="m-0">Draco Malfoy</h6>
            <p class="m-0 text-small text-muted">draco_malfoy27</p>
          </div>
          <div>
            <button class="btn btn-outline-primary btn-rounded btn-sm">Follow</button>
          </div>
        </div>
        <div class="d-flex align-items-center border-bottom-dotted-dim pb-3 mb-2">
          <img class="avatar-md rounded mr-3" src="./assets/images/thumb/user-3.jpg" alt="">
          <div class="flex-grow-1">
            <h6 class="m-0">Sirius Black</h6>
            <p class="m-0 text-small text-muted">siriusblack</p>
          </div>
          <div>
            <button class="btn btn-outline-primary btn-rounded btn-sm">Follow</button>
          </div>
        </div>
        <div class="d-flex align-items-center border-bottom-dotted-dim pb-3 mb-2">
          <img class="avatar-md rounded mr-3" src="./assets/images/thumb/user-4.jpg" alt="">
          <div class="flex-grow-1">
            <h6 class="m-0">Severus Snape</h6>
            <p class="m-0 text-small text-muted">severus_hogwarts</p>
          </div>
          <div>
            <button class="btn btn-outline-primary btn-rounded btn-sm">Follow</button>
          </div>
        </div>
        <div class="d-flex align-items-center border-bottom-dotted-dim pb-3 mb-3">
          <img class="avatar-md rounded mr-3" src="./assets/images/thumb/user-5.jpg" alt="">
          <div class="flex-grow-1">
            <h6 class="m-0"> Alphard Black</h6>
            <p class="m-0 text-small text-muted"> alphardblack</p>
          </div>
          <div>
            <button class="btn btn-outline-primary btn-rounded btn-sm">Follow</button>
          </div>
        </div>
        <div class="d-flex align-items-center border-bottom-dotted-dim pb-2 mb-0">
          <img class="avatar-md rounded mr-3" src="./assets/images/thumb/user-6.jpg" alt="">
          <div class="flex-grow-1">
            <h6 class="m-0">Katie Bell</h6>
            <p class="m-0 text-small text-muted">katiebell</p>
          </div>
          <div>
            <button class="btn btn-outline-primary btn-rounded btn-sm">Follow</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row md-row">
  <div class="col-lg-4 half">
    <div class="card card-ecommerce-3 o-hidden mb-4">
      <div class="">
        <div class="">
          <img class="card-img" src="./assets/images/random-1.jpg" alt="">
        </div>
        <div class="flex-grow-1 p-4">
         <h5>Product featured</h5>
          <p class="text-small text-muted mb-2">Newer Pharma,Germany</p>
          <h6>$120 <del>$145</del></h6>
          <p class="mt-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Nesciunt placeat esse tempore debitis.</p>
          <div class="actions">
            <button class="btn btn-primary">
              Add To Cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 half">
    <div class="card card-ecommerce-3 o-hidden mb-4">
      <div class="">
        <div class="">
          <img class="card-img" src="./assets/images/random-2.jpg" alt="">
        </div>
        <div class="flex-grow-1 p-4">
         <h5>Product featured</h5>
          <p class="text-small text-muted mb-2">Newer Pharma,Germany</p>
          <h6>$120 <del>$145</del></h6>
          <p class="mt-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Nesciunt placeat esse tempore debitis.</p>
          <div class="actions">
            <button class="btn btn-primary">
              Add To Cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 full">
    <div class="card card-ecommerce-3 o-hidden mb-4">
      <div class="">
        <div class="">
          <img class="card-img" src="./assets/images/random-3.jpg" alt="">
        </div>
        <div class="flex-grow-1 p-4">
         <h5>Product featured</h5>
          <p class="text-small text-muted mb-2">Newer Pharma,Germany</p>
          <h6>$120 <del>$145</del></h6>
          <p class="mt-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Nesciunt placeat esse tempore debitis.</p>
          <div class="actions">
            <button class="btn btn-primary">
              Add To Cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row md-row">
  <div class="col-md-4 half">
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">Top Products</h5>
        <div class="d-flex w-100 align-items-center mb-3 top-product--list">
          <img class="mb-3 mb-sm-0 rounded mr-3 img-fluid" width="80"
            src="./assets/images/ecom/product-sq-1.jpg" alt="img-product">
          <div class="flex-grow-1">
            <h6 class=""><a href="">Lorem ipsum dolor</a></h6>
            <p class="text-primary m-0">$450</p>
            <p class="text-danger m-0 small">324 Units are Left</p>
          </div>
          <div>
            <button class="btn btn-primary cart-btn mt-3 mb-3 m-sm-0 btn-rounded btn-sm hide-sm"><span
                class="material-icons">
                shopping_cart
              </span></button>
          </div>
        </div>
        <div class="d-flex w-100 align-items-center mb-3 top-product--list">
          <img class="mb-3 mb-sm-0 rounded mr-3 img-fluid" width="80"
            src="./assets/images/ecom/product-sq-2.jpg" alt="img-product">
          <div class="flex-grow-1">
            <h6 class=""><a href="">Lorem ipsum dolor</a></h6>
            <p class="text-primary m-0">$450</p>
            <p class="text-danger m-0 small">324 Units are Left</p>
          </div>
          <div>
            <button class="btn btn-primary cart-btn mt-3 mb-3 m-sm-0 btn-rounded btn-sm hide-sm"><span
                class="material-icons">
                shopping_cart
              </span></button>
          </div>
        </div>
        <div class="d-flex w-100 align-items-center mb-3 top-product--list">
          <img class="mb-3 mb-sm-0 rounded mr-3 img-fluid" width="80"
            src="./assets/images/ecom/product-sq-3.jpg" alt="img-product">
          <div class="flex-grow-1">
            <h6 class=""><a href="">Lorem ipsum dolor</a></h6>
            <p class="text-primary m-0">$450</p>
            <p class="text-danger m-0 small">324 Units are Left</p>
          </div>
          <div>
            <button class="btn btn-primary cart-btn mt-3 mb-3 m-sm-0 btn-rounded btn-sm hide-sm"><span
                class="material-icons">
                shopping_cart
              </span></button>
          </div>
        </div>
        <div class="d-flex w-100 align-items-center mb-3 top-product--list">
          <img class="mb-3 mb-sm-0 rounded mr-3 img-fluid" width="80"
            src="./assets/images/ecom/product-sq-4.jpg" alt="img-product">
          <div class="flex-grow-1">
            <h6 class=""><a href="">Lorem ipsum dolor</a></h6>
            <p class="text-primary m-0">$450</p>
            <p class="text-danger m-0 small">324 Units are Left</p>
          </div>
          <div>
            <button class="btn btn-primary cart-btn mt-3 mb-3 m-sm-0 btn-rounded btn-sm hide-sm"><span
                class="material-icons">
                shopping_cart
              </span></button>
          </div>
        </div>
        <!-- <h5 class="card-title">User Feed</h5>
        <ul class="feed-list">
          <li class="feed-list--item mb-3">
            <div class="d-flex align-items-center mb-2">
              <div class="mr-3">
                <img src="./assets/images/thumb/user-1.jpg" class="rounded" width="60" id="userDropdown">
              </div>
              <div class="info">
                <h6 class="mb-0">Albus Snape</h6>
                <p class="text-muted">5 mins ago</p>
              </div>
            </div>
            <div>
              <p>Lorem ipsum dolor, sit amet cons ect etur adipi sicing elit. Blan ditiis volu ptatum optio
                maiores odit</p>
            </div>
            <ul class="feed-list--action">
              <li><a href=""><i
                    class="material-icons text-primary text-20 mr-2">swap_vert</i><span>168</span></a>
              </li>
              <li><a href=""><i
                    class="material-icons text-primary text-20 mr-2">insert_comment</i><span>18</span></a>
              </li>
            </ul>
          </li>
          <li class="feed-list--item mb-3">
            <div class="d-flex align-items-center mb-2">
              <div class="mr-3">
                <img src="./assets/images/thumb/user-2.jpg" class="rounded" width="60" id="userDropdown">
              </div>
              <div class="info">
                <h6 class="mb-0">Albus Snape</h6>
                <p class="text-muted">5 mins ago</p>
              </div>
            </div>
            <div>
              <p>Lorem ipsum dolor, sit amet cons ect etur adipi sicing elit. Blan ditiis volu ptatum optio
                maiores odit</p>
            </div>
            <ul class="feed-list--action">
              <li><a href=""><i
                    class="material-icons text-primary text-20 mr-2">swap_vert</i><span>168</span></a>
              </li>
              <li><a href=""><i
                    class="material-icons text-primary text-20 mr-2">insert_comment</i><span>18</span></a>
              </li>
            </ul>
          </li>

        </ul> -->
      </div>
    </div>
  </div>
  <div class="col-md-4 half">
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">Top Products</h5>
        <div class="d-flex w-100 align-items-center mb-3 top-product--list">
          <img class="mb-3 mb-sm-0 rounded mr-3 img-fluid" width="80"
            src="./assets/images/ecom/product-sq-1.jpg" alt="img-product">
          <div class="flex-grow-1">
            <h6 class=""><a href="">Lorem ipsum dolor</a></h6>
            <p class="text-primary m-0">$450</p>
            <p class="text-danger m-0 small">324 Units are Left</p>
          </div>
          <div>
            <button class="btn btn-primary cart-btn mt-3 mb-3 m-sm-0 btn-rounded btn-sm hide-sm"><span
                class="material-icons">
                shopping_cart
              </span></button>
          </div>
        </div>
        <div class="d-flex w-100 align-items-center mb-3 top-product--list">
          <img class="mb-3 mb-sm-0 rounded mr-3 img-fluid" width="80"
            src="./assets/images/ecom/product-sq-2.jpg" alt="img-product">
          <div class="flex-grow-1">
            <h6 class=""><a href="">Lorem ipsum dolor</a></h6>
            <p class="text-primary m-0">$450</p>
            <p class="text-danger m-0 small">324 Units are Left</p>
          </div>
          <div>
            <button class="btn btn-primary cart-btn mt-3 mb-3 m-sm-0 btn-rounded btn-sm hide-sm"><span
                class="material-icons">
                shopping_cart
              </span></button>
          </div>
        </div>
        <div class="d-flex w-100 align-items-center mb-3 top-product--list">
          <img class="mb-3 mb-sm-0 rounded mr-3 img-fluid" width="80"
            src="./assets/images/ecom/product-sq-3.jpg" alt="img-product">
          <div class="flex-grow-1">
            <h6 class=""><a href="">Lorem ipsum dolor</a></h6>
            <p class="text-primary m-0">$450</p>
            <p class="text-danger m-0 small">324 Units are Left</p>
          </div>
          <div>
            <button class="btn btn-primary cart-btn mt-3 mb-3 m-sm-0 btn-rounded btn-sm hide-sm"><span
                class="material-icons">
                shopping_cart
              </span></button>
          </div>
        </div>
        <div class="d-flex w-100 align-items-center mb-3 top-product--list">
          <img class="mb-3 mb-sm-0 rounded mr-3 img-fluid" width="80"
            src="./assets/images/ecom/product-sq-4.jpg" alt="img-product">
          <div class="flex-grow-1">
            <h6 class=""><a href="">Lorem ipsum dolor</a></h6>
            <p class="text-primary m-0">$450</p>
            <p class="text-danger m-0 small">324 Units are Left</p>
          </div>
          <div>
            <button class="btn btn-primary cart-btn mt-3 mb-3 m-sm-0 btn-rounded btn-sm hide-sm"><span
                class="material-icons">
                shopping_cart
              </span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="col-md-4 full">
    <div class="card text-center o-hidden mb-4"> -->
      <!-- <div class="widget-user">
        <div class="user-block-1 pb-5 pt-5 bg-success"><img src="./assets/images/thumb/user-4.jpg" width="160"
            alt="user-header" class="img-fluid rounded-circle"></div>
        <div class="card-user">
          <div class="user-name pb-4">
            <h5>Josephin Villa</h5>
            <h6 class="txt-muted">Software Engineer</h6>
          </div>
          <div class="row pb-4 following">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
              <h4 class="txt-primary counter">485</h4>
              <p>Followings</p>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
              <h4 class="txt-primary counter ng-tns-c219-4">1052</h4>
              <p>Followers</p>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
              <h4 class="txt-primary counter">90</h4>
              <p>Activities</p>
            </div>
          </div>
          <div class="m-b-10"><button type="button"
              class="btn btn-primary waves-effect waves-light text-uppercase"><i
                class="icofont icofont-ui-user"></i>Add as Friend </button></div>
          <div></div>
        </div>
      </div> -->
      
    <!-- </div>
  </div> -->
  <div class="col-md-4 half">
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">Top Products</h5>
        <div class="d-flex w-100 align-items-center mb-3 top-product--list">
          <img class="mb-3 mb-sm-0 rounded mr-3 img-fluid" width="80"
            src="./assets/images/ecom/product-sq-1.jpg" alt="img-product">
          <div class="flex-grow-1">
            <h6 class=""><a href="">Lorem ipsum dolor</a></h6>
            <p class="text-primary m-0">$450</p>
            <p class="text-danger m-0 small">324 Units are Left</p>
          </div>
          <div>
            <button class="btn btn-primary cart-btn mt-3 mb-3 m-sm-0 btn-rounded btn-sm hide-sm"><span
                class="material-icons">
                shopping_cart
              </span></button>
          </div>
        </div>
        <div class="d-flex w-100 align-items-center mb-3 top-product--list">
          <img class="mb-3 mb-sm-0 rounded mr-3 img-fluid" width="80"
            src="./assets/images/ecom/product-sq-2.jpg" alt="img-product">
          <div class="flex-grow-1">
            <h6 class=""><a href="">Lorem ipsum dolor</a></h6>
            <p class="text-primary m-0">$450</p>
            <p class="text-danger m-0 small">324 Units are Left</p>
          </div>
          <div>
            <button class="btn btn-primary cart-btn mt-3 mb-3 m-sm-0 btn-rounded btn-sm hide-sm"><span
                class="material-icons">
                shopping_cart
              </span></button>
          </div>
        </div>
        <div class="d-flex w-100 align-items-center mb-3 top-product--list">
          <img class="mb-3 mb-sm-0 rounded mr-3 img-fluid" width="80"
            src="./assets/images/ecom/product-sq-3.jpg" alt="img-product">
          <div class="flex-grow-1">
            <h6 class=""><a href="">Lorem ipsum dolor</a></h6>
            <p class="text-primary m-0">$450</p>
            <p class="text-danger m-0 small">324 Units are Left</p>
          </div>
          <div>
            <button class="btn btn-primary cart-btn mt-3 mb-3 m-sm-0 btn-rounded btn-sm hide-sm"><span
                class="material-icons">
                shopping_cart
              </span></button>
          </div>
        </div>
        <div class="d-flex w-100 align-items-center mb-3 top-product--list">
          <img class="mb-3 mb-sm-0 rounded mr-3 img-fluid" width="80"
            src="./assets/images/ecom/product-sq-4.jpg" alt="img-product">
          <div class="flex-grow-1">
            <h6 class=""><a href="">Lorem ipsum dolor</a></h6>
            <p class="text-primary m-0">$450</p>
            <p class="text-danger m-0 small">324 Units are Left</p>
          </div>
          <div>
            <button class="btn btn-primary cart-btn mt-3 mb-3 m-sm-0 btn-rounded btn-sm hide-sm"><span
                class="material-icons">
                shopping_cart
              </span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>