<div class="">
	<div class="breadcrumb">
		<h1>Cards</h1>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="card text-center mb-4 o-hidden">
				<div class="widget-user">
					<div class="user-block-1 pb-5 pt-5 bg-success"><img src="./assets/images/thumb/user-6.jpg" width="120"
							alt="user-header" class="img-fluid rounded-circle"></div>
					<div class="card-user">
						<div class="user-name pb-4">
							<h5>Josephin Villa</h5>
							<h6 class="txt-muted">Software Engineer</h6>
						</div>
						<div class="row pb-4 following">
							<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
								<h4 class="txt-primary counter font-weight-normal">485</h4>
								<h6>Followings</h6>
							</div>
							<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
								<h4 class="txt-primary counter font-weight-normal">1052</h4>
								<h6>Followers</h6>
							</div>
							<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
								<h4 class="txt-primary counter font-weight-normal">90</h4>
								<h6>Activities</h6>
							</div>
						</div>
						<div class="m-b-10"><button type="button" class="btn btn-primary waves-effect waves-light text-uppercase"><i
									class="icofont icofont-ui-user"></i>Add as Friend </button></div>
						<div></div>
					</div>
				</div>
			</div>
			<div class="card text-center mb-4 o-hidden">
				<div class="card-header">
					<ul class="nav nav-tabs card-header-tabs">
						<li class="nav-item">
							<a class="nav-link active" href="#">Active</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Link</a>
						</li>
						<li class="nav-item">
							<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
						</li>
					</ul>
				</div>
				<div class="card-body">
					<h5 class="card-title">Special title treatment</h5>
					<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
					<a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
			</div>
			<div class="card text-center mb-4 o-hidden">
				<div class="card-header">
					<ul class="nav nav-pills card-header-pills">
						<li class="nav-item">
							<a class="nav-link active" href="#">Active</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Link</a>
						</li>
						<li class="nav-item">
							<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
						</li>
					</ul>
				</div>
				<div class="card-body">
					<h5 class="card-title">Special title treatment</h5>
					<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
					<a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card card-ecommerce-3 o-hidden mb-4">
				<div class="">
					<div class="">
						<img class="card-img" src="./assets/images/random-1.jpg" alt="">
					</div>
					<div class="flex-grow-1 p-4">
						<h4 class="font-weight-normal">Product featured</h4>
						<p class="text-small text-muted">Newer Pharma,Germany</p>
						<h5 class="font-weight-normal">$120 <del>$145</del></h5>
						<p class="mt-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
							Nesciunt placeat esse tempore debitis.</p>
						<div class="actions">
							<button class="btn btn-primary">
								Add To Cart
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="card card-icon mb-4">
				<div class="card-body text-center p-4">
					<div class="d-flex align-items-center justify-content-between">
						<div>
							 <i class="material-icons">filter_drama</i>

							<p class="text-primary text-24 line-height-1 my-2">21</p>
						</div>
						<div>
							<p class="text-muted mt-2 mb-2 h5">Today's Upload</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card mb-4">
				<img src="./assets/images/random-1.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
						content.</p>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">Cras justo odio</li>
					<li class="list-group-item">Dapibus ac facilisis in</li>

				</ul>
				<div class="card-body">
					<a href="#" class="card-link">Card link</a>
					<a href="#" class="card-link">Another link</a>
				</div>
			</div>
			<div class="card card-icon mb-4">
				<div class="card-body text-center p-4">
					<div class="d-flex align-items-center justify-content-between">
						<div>
							 <i class="material-icons">filter_drama</i>

							<p class="text-primary text-24 line-height-1 my-2">21</p>
						</div>
						<div>
							<p class="text-muted mt-2 mb-2 h5">Today's Upload</p>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>



</div>