<div class="breadcrumb">
  <h1>Alerts</h1>
</div>

<div class="row">

  <div class="col-md-6">
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">Ngx Toastr</h5>
        <button class="btn btn-success m-1" (click)="success()">Success</button>
        <button class="btn btn-warning m-1" (click)="warning()">Warning</button>
        <button class="btn btn-info m-1" (click)="info()">Info</button>
        <button class="btn btn-danger m-1" (click)="error()">Error</button>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">With Progress Bar</h5>
        <button class="btn btn-success m-1" (click)="successBar()">Success</button>
        <button class="btn btn-warning m-1" (click)="warningBar()">Warning</button>
        <button class="btn btn-info m-1" (click)="infoBar()">Info</button>
        <button class="btn btn-danger m-1" (click)="errorBar()">Error</button>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">Bootstrap Alerts</h5>

        <ngb-alert [type]="alert.type" *ngFor="let alert of alerts" (close)="closeAlert(alert)">
          <strong class="text-capitalize">{{alert.type}}!</strong> {{alert.message}}
        </ngb-alert>
           <ngb-alert class="alert-card mb-4" [type]="alert.type" *ngFor="let alert of alertCards" (close)="closeAlertCard(alert)">
        <strong class="text-capitalize">{{alert.type}}!</strong> {{alert.message}}
    </ngb-alert>
      </div>
    </div>
  </div>

 
  
</div>