<div class="body ms-body ms-aside-left-open ms-primary-theme ms-has-quickbar" id="body">
  <app-settings></app-settings>
  <app-sidenav></app-sidenav>
  <app-recentactivity></app-recentactivity>
  <main class="body-content">
      <app-topbar></app-topbar>
      <app-content></app-content>
  </main>
  <app-quickbar></app-quickbar>
</div>




<!-- <div class="email-app">
  <nav>
      <a href="#" class="btn btn-danger btn-block">New Email</a>
      <ul class="nav">
          <li class="nav-item">
              <a class="nav-link" href="#"><i class="fa fa-inbox"></i> Inbox <span class="badge badge-danger">4</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#"><i class="fa fa-star"></i> Stared</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#"><i class="fa fa-rocket"></i> Sent</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#"><i class="fa fa-trash-o"></i> Trash</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#"><i class="fa fa-bookmark"></i> Important</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#"><i class="fa fa-inbox"></i> Inbox <span class="badge badge-danger">4</span></a>
          </li>
      </ul>
  </nav>
  <main>
      <p class="text-center">New Message</p>
      <form>
          <div class="form-row mb-3">
              <label for="to" class="col-2 col-sm-1 col-form-label">To:</label>
              <div class="col-10 col-sm-11">
                  <input type="email" class="form-control" id="to" placeholder="Type email">
              </div>
          </div>
          <div class="form-row mb-3">
              <label for="cc" class="col-2 col-sm-1 col-form-label">CC:</label>
              <div class="col-10 col-sm-11">
                  <input type="email" class="form-control" id="cc" placeholder="Type email">
              </div>
          </div>
          <div class="form-row mb-3">
              <label for="bcc" class="col-2 col-sm-1 col-form-label">BCC:</label>
              <div class="col-10 col-sm-11">
                  <input type="email" class="form-control" id="bcc" placeholder="Type email">
              </div>
          </div>
      </form>
      <div class="row">
          <div class="col-sm-11 ml-auto">
              <div class="toolbar" role="toolbar">
                  <div class="btn-group">
                    <a type="button" class="format-button">
                      <i class="fa fa-bold"></i>
                  </a>
                  <a type="button" class="format-button">
                      <i class="fa fa-italic"></i>
                  </a>
                  <a type="button" class="format-button">
                      <i class="fa fa-underline"></i>
                  </a>
              </div>
              <div class="btn-group">
                <a type="button" class="format-button">
                      <i class="fa fa-align-left"></i>
                  </a>
                  <a type="button" class="format-button">
                      <i class="fa fa-align-right"></i>
                  </a>
                  <a type="button" class="format-button">
                      <i class="fa fa-align-center"></i>
                  </a>
                  <a type="button" class="format-button">
                      <i class="fa fa-align-justify"></i>
                  </a>
              </div>
              <div class="btn-group">
                  <a type="button" class="format-button">
                      <i class="fa fa-indent"></i>
                  </a>
                  <a type="button" class="format-button">
                      <i class="fa fa-outdent"></i>
                  </a>
              </div>
              <div class="btn-group">
                  <a type="button" class="format-button">
                      <i class="fa fa-list-ul"></i>
                  </a>
                  <a type="button" class="format-button">
                      <i class="fa fa-list-ol"></i>
                  </a>
              </div>
              <a type="button" class="format-button">
                  <i class="fa fa-trash-o"></i>
              </a>
              <a type="button" class="format-button">
                  <i class="fa fa-paperclip"></i>
              </a>
              <div class="btn-group">
                  <a type="button" class="format-button dropdown-toggle" data-toggle="dropdown">
                      <i class="fa fa-tags"></i>
                      <span class="caret"></span>
                  </a>
                      <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">add label <span class="badge badge-danger"> Home</span></a>
                          <a class="dropdown-item" href="#">add label <span class="badge badge-info"> Job</span></a>
                          <a class="dropdown-item" href="#">add label <span class="badge badge-success"> Clients</span></a>
                          <a class="dropdown-item" href="#">add label <span class="badge badge-warning"> News</span></a>
                      </div>
                  </div>
              </div>
              <div class="form-group mt-4">
                  <textarea class="form-control" id="message" name="body" rows="12" placeholder="Click here to reply"></textarea>
              </div>
              <div class="form-group">
                  <button type="submit" class="btn btn-success">Send</button>
                  <button type="submit" class="btn btn-light">Draft</button>
                  <button type="submit" class="btn btn-danger">Discard</button>
              </div>
          </div>
      </div>
  </main>
</div>
 -->
