<div class="breadcrumb">
	<h1>Faq</h1>
</div>
<div class="card faq-card bg-primary text-center p-5 mb-4">
	<h2 class="text-white">Frquenty Asked Questions</h2>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="card mb-4">
			<ngb-tabset>
				<ngb-tab title="General">
					<ng-template ngbTabContent>
						<div class="card mb-4">
							<div class="card-body">
								<h5 class="card-title">Contrary to popular belief, Lorem Ipsum is not simply</h5>
								<p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
									Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
									printer took a galley of type and scrambled it to make a type specimen book. It has survived
									not
									only five centuries</p>
							</div>
						</div>
						<div class="card mb-4">
							<div class="card-body">
								<h5 class="card-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
								</h5>
								<p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
									Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
									printer took a galley of type and scrambled it to make a type specimen book. It has survived
									not
									only five centuries</p>
							</div>
						</div>
						<div class="card mb-4">
							<div class="card-body">
								<h5 class="card-title">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
									accusantium</h5>
								<p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
									Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
									printer took a galley of type and scrambled it to make a type specimen book. It has survived
									not
									only five centuries</p>
							</div>
						</div>
						<div class="card mb-4">
							<div class="card-body">
								<h5 class="card-title">Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam
									nihil </h5>
								<p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
									Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
									printer took a galley of type and scrambled it to make a type specimen book. It has survived
									not
									only five centuries</p>
							</div>
						</div>
						<div class="card mb-4">
							<div class="card-body">
								<h5 class="card-title">Contrary to popular belief, Lorem Ipsum is not simply</h5>
								<p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
									Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
									printer took a galley of type and scrambled it to make a type specimen book. It has survived
									not
									only five centuries</p>
							</div>
						</div>
						<div class="card mb-4">
							<div class="card-body">
								<h5 class="card-title">Ut enim ad minima veniam, quis nostrum exercitationem ullam</h5>
								<p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
									Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
									printer took a galley of type and scrambled it to make a type specimen book. It has survived
									not
									only five centuries</p>
							</div>
						</div>

					</ng-template>
				</ngb-tab>
				<ngb-tab>
					<ng-template ngbTabTitle>Licenses</ng-template>
					<ng-template ngbTabContent>
						<div class="card mb-4">
							<div class="card-body">
								<h5 class="card-title">Sed quia non numquam eius modi tempora incidunt ut labore</h5>
								<p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
									Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
									printer took a galley of type and scrambled it to make a type specimen book. It has survived
									not
									only five centuries</p>
							</div>
						</div>

						<div class="card mb-4">
							<div class="card-body">
								<h5 class="card-title">Ut enim ad minima veniam, quis nostrum exercitationem</h5>
								<p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
									Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
									printer took a galley of type and scrambled it to make a type specimen book. It has survived
									not
									only five centuries</p>
							</div>
						</div>
						<div class="card mb-4">
							<div class="card-body">
								<h5 class="card-title">Contrary to popular belief, Lorem Ipsum is not simply</h5>
								<p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
									Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
									printer took a galley of type and scrambled it to make a type specimen book. It has survived
									not
									only five centuries</p>
							</div>
						</div>
						<div class="card mb-4">
							<div class="card-body">
								<h5 class="card-title">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</h5>
								<p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
									Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
									printer took a galley of type and scrambled it to make a type specimen book. It has survived
									not
									only five centuries</p>
							</div>
						</div>
						<div class="card mb-4">
							<div class="card-body">
								<h5 class="card-title">Contrary to popular belief, Lorem Ipsum is not simply</h5>
								<p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
									Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
									printer took a galley of type and scrambled it to make a type specimen book. It has survived
									not
									only five centuries</p>
							</div>
						</div>
						<div class="card mb-4">
							<div class="card-body">
								<h5 class="card-title">Contrary to popular belief, Lorem Ipsum is not simply</h5>
								<p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
									Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
									printer took a galley of type and scrambled it to make a type specimen book. It has survived
									not
									only five centuries</p>
							</div>
						</div>
					</ng-template>
				</ngb-tab>
				<ngb-tab title="Company usage">
					<ng-template ngbTabContent>
						<div class="card mb-4">
							<div class="card-body">
								<h5 class="card-title">Contrary to popular belief, Lorem Ipsum is not simply</h5>
								<p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
									Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
									printer took a galley of type and scrambled it to make a type specimen book. It has survived
									not
									only five centuries</p>
							</div>
						</div>

						<div class="card mb-4">
							<div class="card-body">
								<h5 class="card-title">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
								</h5>
								<p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
									Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
									printer took a galley of type and scrambled it to make a type specimen book. It has survived
									not
									only five centuries</p>
							</div>
						</div>
						<div class="card mb-4">
							<div class="card-body">
								<h5 class="card-title">Contrary to popular belief, Lorem Ipsum is not simply</h5>
								<p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
									Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
									printer took a galley of type and scrambled it to make a type specimen book. It has survived
									not
									only five centuries</p>
							</div>
						</div>
						<div class="card mb-4">
							<div class="card-body">
								<h5 class="card-title">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
								</h5>
								<p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
									Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
									printer took a galley of type and scrambled it to make a type specimen book. It has survived
									not
									only five centuries</p>
							</div>
						</div>
						<div class="card mb-4">
							<div class="card-body">
								<h5 class="card-title">Contrary to popular belief, Lorem Ipsum is not simply</h5>
								<p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
									Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
									printer took a galley of type and scrambled it to make a type specimen book. It has survived
									not
									only five centuries</p>
							</div>
						</div>
						<div class="card mb-4">
							<div class="card-body">
								<h5 class="card-title">Contrary to popular belief, Lorem Ipsum is not simply</h5>
								<p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
									Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
									printer took a galley of type and scrambled it to make a type specimen book. It has survived
									not
									only five centuries</p>
							</div>
						</div>
					</ng-template>
				</ngb-tab>
			</ngb-tabset>
		</div>
	</div>
</div>