.card{
  width: 200px;
  height: 200px;
  margin: auto;
}

/* #card2{
  height: 100px;
} */

/* To-do-list */
.ms-todo-list-container div.form-group input{
  width: 87%;
}
.ms-to-do-task{
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.ms-to-do-task input.ms-task-input{
  border: 0;
  width: calc(100% - 65px);
  background-color: transparent;
}
.ms-to-do-task input.ms-task-input:disabled{
  background: #fff;
}
.ms-task-block li.ms-to-do-task:last-child{
  border-bottom: 0;
  padding-bottom: 0;
}
.ms-to-do-task .ms-confirm-task-form{
  display: inline;
}
.ms-to-do-task.task-complete span{
  text-decoration: line-through;
}
.ms-task-block .ms-list-item{
  margin-bottom: 0;
  padding: 0.75rem 0;
}
.ms-todo-options{
  display: flex;
  align-items: center;
  height: 100%;
}
.ms-todo-options.ms-todo-nav{
  justify-content: flex-end;
}
.ms-todo-options li{
  padding: 0 15px;
  border-right: 1px solid rgba(0,0,0,.1);
}
.ms-todo-options li:last-child{
  border-right: 0;
}

.ms-card.ms-qa-card{
  margin: 0 1rem 1rem 1rem;
}
.ms-qa-options{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 0 1rem;
}
.ms-qa-options a{
  font-size: 12px;
}
.ms-note-members li{
  width: 30px;
  float: left;
  margin-left: -10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-animation: notesMembers 0.3s cubic-bezier(0, 4.46, 1, 0.35) 1 forwards;
  animation: notesMembers 0.3s cubic-bezier(0, 4.46, 1, 0.35) 1 forwards;
}
.ms-note-members li:first-child{
  margin-left: 0;
}
.ms-note-members li img{
  border-radius: 50%;
  cursor: pointer;
}
i.ms-delete-trigger:hover, a.ms-delete-trigger:hover, .ms-dark-theme a.ms-delete-trigger:hover{
  color: #d9534f;
  cursor: pointer;
}
.ms-deletable .close{
  color: #878793;
}
