// LAYOUT VARS
$topbar-height: 80px;
$topbar-height-mobile: 70px;

$sidebar-main-width: 230px;
$sidebar-main-width-mobile: 90px;
$sidebar-main-secondary-width: 220px;
$sidebar-main-secondary-width-mobile: 190px;
$side-clearance: 20px;
