<div class="breadcrumb">
    <h1>Resturant Profile</h1>
</div>

<div class="card user-profile o-hidden mb-4">
    
    <!-- <div class="header-cover" style="background-image: url('assets/images/cover.jpg')"></div> -->
     <div class="header-cover" style="background-image: url('http://media.expedia.com/hotels/1000000/850000/849500/849455/91219d62_z.jpg')"></div>
    <div class="card-body pt-0">
        <div class="row">
            <div class="col-12 col-md-12 col-xl-6">

                <div class="user-info">
                    <img class="profile-picture avatar-lg mb-2" src="https://cdn1.goibibo.com/voy_mmt/t_g/htl-imgs/201709081331037533-da52f398306b11eab3990242ac110005.jpg" alt="">
                    
                    <!-- <img class="profile-picture avatar-lg mb-2" src="assets/images/thumb/user-1.jpg" alt=""> -->
                    <p class="m-0 text-24">Hilton Garden Inn</p>
                    <p class="text-muted m-3"></p>
                    <!-- <h4 class="mb-3">About</h4> -->
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, commodi quam! Provident quis
                        voluptate asperiores ullam, quidem odio pariatur. Lorem ipsum, dolor sit amet consectetur
                        adipisicing elit. Voluptatem, nulla eos?
                        Cum non ex voluptate corporis id asperiores doloribus dignissimos blanditiis iusto qui
                        repellendus
                        deleniti aliquam, vel quae eligendi explicabo.
                    </p>
                    <div class="row w-100">
                        <div class="col-6 col-md-6 col-xl-4">
                            <div class="mb-4">
                                <p class="text-primary mb-1">Founded</p>
                                <span>Jan 22, 1984</span>
                            </div>
                            <div class="mb-4">
                                <p class="text-primary mb-1">City</p>
                                <span>Los Angeles</span>
                            </div>
                            <div class="mb-4">
                                <p class="text-primary mb-1">Country</p>
                                <span>Canada</span>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-xl-4">
                            <div class="mb-4">
                                <p class="text-primary mb-1">Branches</p>
                                <span>1994</span>
                            </div>
                            <div class="mb-4">
                                <p class="text-primary mb-1">Email</p>
                                <span>mariah@Vendroid.com</span>
                            </div>
                            <div class="mb-4">
                                <p class="text-primary mb-1">Website</p>
                                <span>www.hilton.com/en/hilton-garden-inn</span>
                            </div>
                        </div>
                        <div class="col-md-4 col-6">
                            <div class="mb-4">
                                <p class="text-primary mb-1">Speciality</p>
                                <span>Holiday Resorts and hotels</span>
                            </div>
                            <div class="mb-4">
                                <p class="text-primary mb-1">Price Range</p>
                                <span>4k - 6k/day</span>
                            </div>
                            <div class="mb-4">
                                <p class="text-primary mb-1">Company Name</p>
                                <span>Hilton Group.</span>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-12 col-md-12 col-xl-6">
                <ngb-tabset class="nav-center">
                    <ngb-tab title="Offers">
                        <ng-template ngbTabContent>
                            <div class="row md-row">
                                <div class="col-12 full col-xl-4">
                                    <div class="card card-profile-1 mb-4">
                                        <div class="card-body text-center">
                                            <div class="avatar box-shadow-2 mb-3">
                                                <img src="https://www.creativehatti.com/wp-content/uploads/edd/2020/11/15-Happy-Diwali-banner-design-with-lamp-and-special-festival-offer-large-thumbnail.jpg" alt="">
                                                <!-- <img src="assets/images/thumb/user-6.jpg" alt=""> -->
                                            </div>
                                            <h5 class="m-0">Special Offers</h5>

                                            <div class="card-socials-simple mt-1">
                                                <a href="">
                                                    <i class="fa fa-linkedin"></i>
                                                </a>
                                                <a href="">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                                <a href="">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </div>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae
                                                cumque.
                                            </p>
                                            <button class="btn btn-primary btn-rounded" [routerLink]="['/pages/specials']">More</button>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 full col-xl-4">
                                    <div class="card card-profile-1 mb-4">
                                        <div class="card-body text-center">
                                            <div class="avatar box-shadow-2 mb-3">
                                                <img src="../../../../assets/images/thumb/offers.jpg" alt="">
                                                <!-- <img src="assets/images/thumb/user-6.jpg" alt=""> -->
                                            </div>
                                            <h5 class="m-0">Upcoming</h5>

                                            <div class="card-socials-simple mt-1">
                                                <a href="">
                                                    <i class="fa fa-linkedin"></i>
                                                </a>
                                                <a href="">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                                <a href="">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </div>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae
                                                cumque.
                                            </p>
                                            <button class="btn btn-primary btn-rounded" [routerLink]="['/pages/openings']">More</button>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 full col-xl-4">
                                    <div class="card card-profile-1 mb-4">
                                        <div class="card-body text-center">
                                            <div class="avatar box-shadow-2 mb-3">
                                                <img src="../../../../assets/images/thumb/Party.jpg" alt="">
                                                <!-- <img src="assets/images/thumb/user-6.jpg" alt=""> -->
                                            </div>
                                            <h5 class="m-0">Events</h5>

                                            <div class="card-socials-simple mt-1">
                                                <a href="">
                                                    <i class="fa fa-linkedin"></i>
                                                </a>
                                                <a href="">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                                <a href="">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </div>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae
                                                cumque.
                                            </p>
                                            <button class="btn btn-primary btn-rounded" [routerLink]="['/pages/events']">More</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Photos">
                        <ng-template ngbTabContent>
                            <div class="row md-row">
                                <div class="col-12 col-md-6 col-lg-6 col-xl-3">
                                    <div class="card text-white o-hidden mb-3">
                                        <img class="card-img" src="assets/images/ecom/product-1.jpg" alt="">
                                        <div class="card-img-overlay">
                                            <div class="p-1 text-left card-footer font-weight-light d-flex">
                                                <span class="mr-3 d-flex align-items-center"><i
                                                        class="i-Speach-Bubble-6 mr-1"></i>
                                                    12 </span>
                                                <span class="d-flex align-items-center"><i
                                                        class="i-Calendar-4 mr-2"></i>03.12.2018</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-6 col-xl-3">
                                    <div class="card text-white o-hidden mb-3">
                                        <img class="card-img" src="assets/images/ecom/product-2.jpg" alt="">
                                        <div class="card-img-overlay">
                                            <div class="p-1 text-left card-footer font-weight-light d-flex">
                                                <span class="mr-3 d-flex align-items-center"><i
                                                        class="i-Speach-Bubble-6 mr-1"></i>
                                                    12 </span>
                                                <span class="d-flex align-items-center"><i
                                                        class="i-Calendar-4 mr-2"></i>03.12.2018</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-6 col-xl-3">
                                    <div class="card text-white o-hidden mb-3">
                                        <img class="card-img" src="assets/images/ecom/product-3.jpg" alt="">
                                        <div class="card-img-overlay">
                                            <div class="p-1 text-left card-footer font-weight-light d-flex">
                                                <span class="mr-3 d-flex align-items-center"><i
                                                        class="i-Speach-Bubble-6 mr-1"></i>
                                                    12 </span>
                                                <span class="d-flex align-items-center"><i
                                                        class="i-Calendar-4 mr-2"></i>03.12.2018</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-6 col-xl-3">
                                    <div class="card text-white o-hidden mb-3">
                                        <img class="card-img" src="assets/images/ecom/product-1.jpg" alt="">
                                        <div class="card-img-overlay">
                                            <div class="p-1 text-left card-footer font-weight-light d-flex">
                                                <span class="mr-3 d-flex align-items-center"><i
                                                        class="i-Speach-Bubble-6 mr-1"></i>
                                                    12 </span>
                                                <span class="d-flex align-items-center"><i
                                                        class="i-Calendar-4 mr-2"></i>03.12.2018</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-6 col-xl-4">
                                    <div class="card text-white o-hidden mb-3">
                                        <img class="card-img" src="assets/images/ecom/product-2.jpg" alt="">
                                        <div class="card-img-overlay">
                                            <div class="p-1 text-left card-footer font-weight-light d-flex">
                                                <span class="mr-3 d-flex align-items-center"><i
                                                        class="i-Speach-Bubble-6 mr-1"></i>
                                                    12 </span>
                                                <span class="d-flex align-items-center"><i
                                                        class="i-Calendar-4 mr-2"></i>03.12.2018</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                    <div class="card text-white o-hidden mb-3">
                                        <img class="card-img" src="assets/images/ecom/product-1.jpg" alt="">
                                        <div class="card-img-overlay">
                                            <div class="p-1 text-left card-footer font-weight-light d-flex">
                                                <span class="mr-3 d-flex align-items-center"><i
                                                        class="i-Speach-Bubble-6 mr-1"></i>
                                                    12 </span>
                                                <span class="d-flex align-items-center"><i
                                                        class="i-Calendar-4 mr-2"></i>03.12.2018</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <a [routerLink]="['/pages/gallery']">More..</a>
                            </div>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
        </div>



    </div>
</div>