<div class="breadcrumb">
    <h1>Basic</h1>

</div>


<div class="row">
    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title mb-3">Form Inputs</h5>
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Email</label>
                            <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Password</label>
                            <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAddress">Address</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                    </div>
                    <div class="form-group">
                        <label for="inputAddress2">Address 2</label>
                        <input type="text" class="form-control" id="inputAddress2"
                            placeholder="Apartment, studio, or floor">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputCity">City</label>
                            <input type="text" class="form-control" id="inputCity">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputState">State</label>
                            <select id="inputState" class="form-control">
                                <option selected>Choose...</option>
                                <option>...</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputZip">Zip</label>
                            <input type="text" class="form-control" id="inputZip">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label" for="gridCheck">
                                Check me out
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Horizontal form</h5>
                <form>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                        </div>
                    </div>
                    <fieldset class="form-group">
                        <div class="row">
                            <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
                            <div class="col-sm-10">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1"
                                        value="option1" checked>
                                    <label class="form-check-label" for="gridRadios1">
                                        First radio
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2"
                                        value="option2">
                                    <label class="form-check-label" for="gridRadios2">
                                        Second radio
                                    </label>
                                </div>
                                <div class="form-check disabled">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3"
                                        value="option3" disabled>
                                    <label class="form-check-label" for="gridRadios3">
                                        Third disabled radio
                                    </label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group row">
                        <div class="col-sm-2">Checkbox</div>
                        <div class="col-sm-10">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="gridCheck1">
                                <label class="form-check-label" for="gridCheck1">
                                    Example checkbox
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">Sign in</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Tooltip as Warning</h5>

            </div>
        </div>
    </div>


    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Horizontal Sizing</h5>
                <form>
                    <div class="form-group row">
                        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control form-control-sm" id="colFormLabelSm"
                                placeholder="col-form-label-sm">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="colFormLabel" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="colFormLabel" placeholder="col-form-label">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control form-control-lg" id="colFormLabelLg"
                                placeholder="col-form-label-lg">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Switch</h5>
                <label class="switch switch-primary mr-3">
                    <span>Primary</span>
                    <input type="checkbox" checked>
                    <span class="slider"></span>
                </label>
                <label class="switch switch-secondary mr-3">
                    <span>Secondary</span>
                    <input type="checkbox" checked>
                    <span class="slider"></span>
                </label>
                <label class="switch switch-success mr-3">
                    <span>Success</span>
                    <input type="checkbox" checked>
                    <span class="slider"></span>
                </label>
                <label class="switch switch-warning mr-3">
                    <span>Warning</span>
                    <input type="checkbox" checked>
                    <span class="slider"></span>
                </label>
                <label class="switch switch-danger mr-3">
                    <span>Danger</span>
                    <input type="checkbox" checked>
                    <span class="slider"></span>
                </label>
                <label class="switch switch-light mr-3">
                    <span>Light</span>
                    <input type="checkbox" checked>
                    <span class="slider"></span>
                </label>
                <label class="switch switch-dark mr-3">
                    <span>Dark</span>
                    <input type="checkbox" checked>
                    <span class="slider"></span>
                </label>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Checkbox Default</h5>
                <label class="checkbox checkbox-primary">
                    <input type="checkbox" checked>
                    <span>Primary</span>
                    <span class="checkmark"></span>
                </label>
                <label class="checkbox checkbox-secondary">
                    <input type="checkbox" checked>
                    <span>Secondary</span>
                    <span class="checkmark"></span>
                </label>
                <label class="checkbox checkbox-success">
                    <input type="checkbox" checked>
                    <span>Success</span>
                    <span class="checkmark"></span>
                </label>
                <label class="checkbox checkbox-warning">
                    <input type="checkbox" checked>
                    <span>Warning</span>
                    <span class="checkmark"></span>
                </label>
                <label class="checkbox checkbox-danger">
                    <input type="checkbox" checked>
                    <span>Danger</span>
                    <span class="checkmark"></span>
                </label>
                <label class="checkbox checkbox-info">
                    <input type="checkbox" checked>
                    <span>Info</span>
                    <span class="checkmark"></span>
                </label>
                <label class="checkbox checkbox-dark">
                    <input type="checkbox" checked>
                    <span>Dark</span>
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Checkbox Outline</h5>
                <label class="checkbox checkbox-outline-primary">
                    <input type="checkbox" checked>
                    <span>Primary</span>
                    <span class="checkmark"></span>
                </label>
                <label class="checkbox checkbox-outline-secondary">
                    <input type="checkbox" checked>
                    <span>Secondary</span>
                    <span class="checkmark"></span>
                </label>
                <label class="checkbox checkbox-outline-success">
                    <input type="checkbox" checked>
                    <span>Success</span>
                    <span class="checkmark"></span>
                </label>
                <label class="checkbox checkbox-outline-warning">
                    <input type="checkbox" checked>
                    <span>Warning</span>
                    <span class="checkmark"></span>
                </label>
                <label class="checkbox checkbox-outline-danger">
                    <input type="checkbox" checked>
                    <span>Danger</span>
                    <span class="checkmark"></span>
                </label>
                <label class="checkbox checkbox-outline-info">
                    <input type="checkbox" checked>
                    <span>Info</span>
                    <span class="checkmark"></span>
                </label>
                <label class="checkbox checkbox-outline-dark">
                    <input type="checkbox" checked>
                    <span>Dark</span>
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-body" [formGroup]="radioGroup">
                <h5 class="card-title">Radio Button</h5>
                <label class="radio radio-primary">
                    <input type="radio" name="radio" [value]="1" formControlName="radio">
                    <span>Primary</span>
                    <span class="checkmark"></span>
                </label>
                <label class="radio radio-secondary">
                    <input type="radio" name="radio" [value]="2" formControlName="radio">
                    <span>Secondary</span>
                    <span class="checkmark"></span>
                </label>
                <label class="radio radio-success">
                    <input type="radio" name="radio" [value]="3" formControlName="radio">
                    <span>Success</span>
                    <span class="checkmark"></span>
                </label>
                <label class="radio radio-warning">
                    <input type="radio" name="radio" [value]="4" formControlName="radio">
                    <span>Warning</span>
                    <span class="checkmark"></span>
                </label>
                <label class="radio radio-danger">
                    <input type="radio" name="radio" [value]="5" formControlName="radio">
                    <span>Danger</span>
                    <span class="checkmark"></span>
                </label>
                <label class="radio radio-light">
                    <input type="radio" name="radio" [value]="6" formControlName="radio">
                    <span>Light</span>
                    <span class="checkmark"></span>
                </label>
                <label class="radio radio-dark">
                    <input type="radio" name="radio" [value]="7" formControlName="radio">
                    <span>Dark</span>
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-body" [formGroup]="radioGroup">
                <h5 class="card-title">Radio Button Outline</h5>
                <label class="radio radio-outline-primary">
                    <input type="radio" name="radio" [value]="1" formControlName="radio">
                    <span>Primary</span>
                    <span class="checkmark"></span>
                </label>
                <label class="radio radio-outline-secondary">
                    <input type="radio" name="radio" [value]="2" formControlName="radio">
                    <span>Secondary</span>
                    <span class="checkmark"></span>
                </label>
                <label class="radio radio-outline-success">
                    <input type="radio" name="radio" [value]="3" formControlName="radio">
                    <span>Success</span>
                    <span class="checkmark"></span>
                </label>
                <label class="radio radio-outline-warning">
                    <input type="radio" name="radio" [value]="4" formControlName="radio">
                    <span>Warning</span>
                    <span class="checkmark"></span>
                </label>
                <label class="radio radio-outline-danger">
                    <input type="radio" name="radio" [value]="5" formControlName="radio">
                    <span>Danger</span>
                    <span class="checkmark"></span>
                </label>
                <label class="radio radio-outline-light">
                    <input type="radio" name="radio" [value]="6" formControlName="radio">
                    <span>Light</span>
                    <span class="checkmark"></span>
                </label>
                <label class="radio radio-outline-dark">
                    <input type="radio" name="radio" [value]="7" formControlName="radio">
                    <span>Dark</span>
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
    </div>

</div>


<div class="row">
    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Basic Example</h5>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">@</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                        aria-describedby="basic-addon1">
                </div>

                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Recipient's username"
                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">@example.com</span>
                    </div>
                </div>

                <label for="basic-url">Your vanity URL</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
                    </div>
                    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                    <div class="input-group-append">
                        <span class="input-group-text">.00</span>
                    </div>
                </div>

                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">With textarea</span>
                    </div>
                    <textarea class="form-control" aria-label="With textarea"></textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">File inputs</h5>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile01"
                            aria-describedby="inputGroupFileAddon01">
                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile02">
                        <label class="custom-file-label" for="inputGroupFile02"
                            aria-describedby="inputGroupFileAddon02">Choose
                            file</label>
                    </div>
                    <div class="input-group-append">
                        <span class="input-group-text" id="inputGroupFileAddon02">Upload</span>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>