@import "../../../assets/form_wizard_styling/css/style.css";
@import '../../../../node_modules/perfect-scrollbar/css/perfect-scrollbar.css';
@import '../../../../node_modules/ngx-toastr/toastr.css';
@import '../../../../node_modules/ng-wizard/themes/ng_wizard.min.css';
 
/* Optional */
/* If a theme other than default is used, the css file for that theme is required. */
@import '../../../../node_modules/ng-wizard/themes/ng_wizard_theme_arrows.min.css';
@import '../../../../node_modules/ng-wizard/themes/ng_wizard_theme_circles.min.css';
@import '../../../../node_modules/ng-wizard/themes/ng_wizard_theme_dots.min.css';

:focus {
    outline: none;
}
 .carousel-item,
.carousel-item img,
.produt-detail .carousel-item .picsum-img-wrapper img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.produt-detail .carousel-item .picsum-img-wrapper {
	height: 300px;
	width: 100%;
}
.ms-panel-body .accordion .card:last-child,
.ms-panel-body .alert:last-child,
.ms-panel-body>div:last-child .progress,
.ms-website-performance li.ms-list-item {
	margin-bottom: 0;
}
.cardspage .section-title {
	font-size: 18px;
}
.ms-crop-preview img {
	width: 100%!important;
}
.produt-detail .carousel-item {
	height: 300px;
}
.produt-detail .carousel-item>img {
	height: 100%;
	object-fit: cover;
}
.nav-accordion .card {
	display: block;
	padding: 0;
	border: none;
	border-radius: 0;
	background-color: transparent;
}
.nav-accordion .card .card-header {
	flex: auto;
	padding: 0;
	background-color: transparent;
}
.nav-accordion .card ul>li>a,
.nav-accordion .card .card-header .btn {
	position: relative;
	display: block;
	padding: 15px 0 15px 25px;
	color: #ffffff;
	transition: 0s;
	margin-top: 0;
	min-width: 100%;
	text-align: left;
	background: transparent;
}
.nav-accordion .card .card-header .btn:hover,
.nav-accordion .card .card-header .btn:focus {
    text-decoration: none;
    box-shadow: none;
}
.nav-accordion.accordion .card .card-header .btn:after {
	content: '\e313';
	font-family: 'Material Icons';
	font-weight: 700;
	font-style: normal;
	position: absolute;
	top: 16px;
	right: 20px;
	transition: 0.3s;
}
.nav-accordion .card .card-header .btn span {
	display: flex;
	align-items: center;
	max-width: 100%;
	color: #fff;
	font-weight: 400;
}
.nav-accordion .card .card-header .btn span i {
	margin-right: 20px;
	position: relative;
	top: 0;
	left: 0;
}
.nav-accordion .card .card-header .btn span i:before {
	font-size: 16px;
}
.nav-accordion .card-header::after {
	display: none;
}
.side-nav .card .card-body {
	padding: 0;
}
.side-nav .card ul {
	padding-left: 40px;
	margin-bottom: 0;
	background-color: #594113;
}
ng2-smart-table.table.thead-primary .ng2-smart-th a {
	color: #fff;
}
ng2-smart-table.table .ng2-smart-th a {
	color: #212529;
}
.ng2-smart-pagination-nav {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	margin-top: 20px;
}
.ng2-smart-pagination {
	margin-bottom: 0;
}
.ng2-smart-pagination.pagination .page-link {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.table td.ng2-smart-actions {
	white-space: nowrap;
}
.produt-detail .carousel-item {
	height: 300px;
}
.produt-detail .carousel-item>img {
	height: 100%;
	object-fit: cover;
}
.ms-panel-header h6,
.ms-instagram-feed .ms-feed-user,
.ms-facebook-feed .ms-feed-user,
.ms-device-sessions .ms-device h4 {
	font-size: 16px;
}
.ms-website-performance li.ms-list-item h4,
.ms-facebook-engagements .ms-graph-meta h2 {
	font-size: 18px;
}
.produt-detail {
	margin-bottom: 4rem;
}
.ms-list.ms-sortable-list h5,
.ms-list.ms-sortable h5 {
	font-size: 17px;
}
.modal-body h1,
.ms-auth-form h1,
.ms-profile-user-info h1 {
	font-size: 28px;
}
.accordion.faq .card-header i {
	top: 4px;
}
.progress-rounded.progress-round-tiny {
	margin-bottom: 0;
	text-align: center;
}
.ms-card-body h6 + p {
	margin-bottom: 0;
}
.breadcrumb li {
	margin-bottom: .75rem;
}
.breadcrumb {
	padding-bottom: 0;
}
.ms-profile-skills .section-title {
	margin-top: 0;
}
.profilepage .section-title {
	font-size: 20px;
}
.table td,
.table th {
	white-space: nowrap;
}
.ms-quick-bar:not(.ms-quick-bar-open) .nav-tabs.ms-quick-bar-list .nav-item .nav-link,
.ms-quick-bar:not(.ms-quick-bar-open) .nav-tabs.ms-quick-bar-list .nav-item .nav-link i,
.ms-quick-bar:not(.ms-quick-bar-open) .nav-tabs.ms-quick-bar-list .nav-item .nav-link span{
	background-color: #fff;
	color: #34334a;
}
@media(max-width: 575px) {
	.ms-todo-options, .ms-todo-options.ms-todo-nav {
		justify-content: center;
	}
}
@media(max-width: 500px) {
	.ms-email-pagination {
		position: relative;
		left: -10px;
		right: 0;
		top: 6px;
	}
}
@media(max-width: 540px) {
	.btn-group {
		width: 100%;
	}
}
@media(max-width: 767px) {
	.progress-rounded.progress-round-tiny {
		margin-bottom: 20px;
	}
	.bg-white .row>div:last-child .progress-rounded.progress-round-tiny {
		margin-bottom: 0;
	}
}
@media(max-width: 767px) {
	.ms-graph-labels.column-direction {
		display: none;
	}
	.ms-cropper-controls {
		flex-wrap: wrap;
	}
	.ms-wizard-vertical.ms-form-wizard .tab-content,
	.ms-wizard-vertical.ms-form-wizard .actions {
		margin-left: 0;
	}
}


/*#Form{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}*/

.check{
  margin: 2px;
  min-width: 20px;
}

/*.form-check-input{
  width: 30px;
  padding: 10px;
  margin: 10px;
} */

.card-img-top{
  height: 200px;
}

#outlet{
  padding: 5px;
  margin: 5px;
}

.time{
  font-size: 13px;
  font-weight: lighter;
}

.advanced{
  padding: 5px;
  margin: 5px;
  display: none;
}

.card{
  width: 400px;
  height: 400px;
}

#card2{
  height: 100px;
}

@media (max-width: 768px) {
  /* For desktop:
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}*/
  #Form{
    width: 100%;
    /*position: fixed;
    top: 50%;
    left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    overflow: scroll;
  }
}

#btn{
  margin-top: -5px;
}
