.card .card-ecommerce-3 {
    height: 250px;
    width: 400px;
}

img{
    height: 250px;
    width: 400px;
}

.card-text{
    text-align: justify;
}

.faq-card{
    background: url('../../../../assets/images/001.jpg');
    min-height: 500px;
}