
                      <div class="ms-content-wrapper">
                        <div class="row">
                          <div class="col-lg-12">
                            <h2>Welcome</h2>
                            <br>
                          </div>
                          <br>
                          <br>
                          <div class="col-xl-2 col-md-6 canvas">
                            <div class="ms-card ms-widget has-graph-full-width ms-infographics-widget">
                                <span class="ms-chart-label bg-success"><i class="material-icons">arrow_upward</i> 3.2%</span>
                                <div class="ms-card-body media">
                                    <div class="media-body">
                                        <span>Registered </span>
                                        <h2>8,451</h2>
                                    </div>
                                </div>
                                <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
                                    [chartType]="lineChartType">
                                </canvas>
                            </div>
                        </div>
                        <div class="col-xl-2 col-md-6 canvas">
                            <div class="ms-card ms-widget has-graph-full-width ms-infographics-widget">
                                <span class="ms-chart-label bg-danger"><i class="material-icons">arrow_downward</i> 4.5%</span>
                                <div class="ms-card-body media">
                                    <div class="media-body">
                                        <span>Active  </span>
                                        <h2>3,973</h2>
                                    </div>
                                </div>
                                <canvas baseChart [datasets]="linetwoChartData" [labels]="linetwoChartLabels"
                                    [options]="lineChartOptions" [chartType]="lineChartType">
                                </canvas>
                            </div>
                        </div>
                        <div class="col-xl-2 col-md-6 canvas">
                            <div class="ms-card ms-widget has-graph-full-width ms-infographics-widget">
                                <span class="ms-chart-label bg-success"><i class="material-icons">arrow_upward</i> 12.5%</span>
                                <div class="ms-card-body media">
                                    <div class="media-body">
                                        <span>Inactive </span>
                                        <h2>7,333</h2>
                                    </div>
                                </div>
                                <canvas baseChart [datasets]="linethreeChartData" [labels]="linethreeChartLabels"
                                    [options]="lineChartOptions" [chartType]="lineChartType">
                                </canvas>
                            </div>
                        </div>
                        <div class="col-xl-2 col-md-6 canvas">
                            <div class="ms-card ms-widget has-graph-full-width ms-infographics-widget">
                                <span class="ms-chart-label bg-success"><i class="material-icons">arrow_upward</i> 9.5%</span>
                                <div class="ms-card-body media">
                                    <div class="media-body">
                                        <span>Deactivated </span>
                                        <h2>48,973</h2>
                                    </div>
                                </div>
                                <canvas baseChart [datasets]="linefourChartData" [labels]="linefourChartLabels"
                                    [options]="lineChartOptions" [chartType]="lineChartType">
                                </canvas>
                            </div>
                          </div>

                            <!----SECTION TWO---------->

                            <div class="col-lg-12">
                              <div class="ms-panel">
                                <div class="ms-panel-header">
                                  <div class="row">
                                    <div class="col-xl-10">
                                      <h6>Restarunt List</h6>
                                    </div>
                                    <div class="col-xl-2">
                                      <a class="btn btn-primary">Add a Buisness</a>
                                    </div>
                                  </div>
                                </div>
                                <div class="ms-panel-body">
                                    <div class="row mb-3">
                                        <div class="col-lg-3 col-md-6">
                                            <input #search class="search" class="form-control" type="text" placeholder="Search..." (keydown.enter)="onSearch(search.value)">
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                      <ng2-smart-table [settings]="settings" [source]="source" class="table w-100 thead-primary"></ng2-smart-table>
                                        <!-- <ng2-smart-table [settings]="settings" [source]="source" class="table w-100 thead-primary" (userRowSelect)="open(modalsix, $event)"></ng2-smart-table> -->
                                    </div>
                                </div>
                            </div>
                            </div>


                            <!----- RECENTS ORDERS REQUESTED--->
                            <div class="col-xl-6 col-md-12">
                                <div class="ms-panel">
                                    <div class="ms-panel-header">
                                        <h6>Ratings</h6>
                                    </div>
                                    <div class="ms-panel-body">
                                        <canvas baseChart [datasets]="PieChartData" [labels]="PieChartLabels" [options]="PieChartOptions"
                                            [chartType]="PieChartType">
                                        </canvas>
                                    </div>
                                </div>
                            </div>
                            <!-------MONTHLY REVENUE------------->

                            <div class="col-xl-6 col-md-12">
                              <div class="ms-panel ms-panel-fh">
                                  <div class="ms-panel-header">
                                    <div class="row">
                                      <div class="col-xl-6 col-md-12">
                                        <h6>Monthly Resturant Wise Bookings</h6>
                                      </div>
                                      <div class="col-xl-6 col-md-12">
                                        <div class="input-group">
                                          <select class="form-control">
                                              <option value="">January</option>
                                              <option value="">February</option>
                                              <option value="">March</option>
                                              <option value="">April</option>
                                              <option value="">May</option>
                                              <option value="">June</option>
                                              <option value="">July</option>
                                              <option value="">August</option>
                                              <option value="">September</option>
                                              <option value="">October</option>
                                              <option value="">November</option>
                                              <option value="">December</option>
                                          </select>
                                      </div>
                                       <!--  <div class="btn-group btn-group-toggle ms-graph-metrics" ngbRadioGroup name="radioBasic"
                                            [(ngModel)]="model">
                                            <label ngbButtonLabel class="btn btn-sm btn-outline-primary day">
                                                <input ngbButton type="radio" [value]="1" (click)="day()"> Day
                                            </label>
                                            <label ngbButtonLabel class="btn btn-sm btn-outline-primary month">
                                                <input ngbButton type="radio" value="middle" (click)="month()"> Month
                                            </label>
                                            <label ngbButtonLabel class="btn btn-sm btn-outline-primary year">
                                                <input ngbButton type="radio" [value]="false" (click)="year()"> Year
                                            </label>
                                        </div> -->
                                      </div>
                                    </div>
                                  </div>
                                  <div class="ms-panel-body">
                                    <span class="progress-label">Week 1</span><span class="progress-status">83%</span>
                                    <div class="progress progress-tiny">
                                        <div class="progress-bar bg-primary" role="progressbar" style="width: 83%" aria-valuenow="83" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <br>
                                    <br>
                                    <span class="progress-label">Week 2</span><span class="progress-status">50%</span>
                                    <div class="progress progress-tiny">
                                        <div class="progress-bar bg-secondary" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <br>
                                    <br>
                                    <span class="progress-label">Week 3</span><span class="progress-status">75%</span>
                                    <div class="progress progress-tiny">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <br>
                                    <br>
                                    <span class="progress-label">Week 4</span><span class="progress-status">92%</span>
                                    <div class="progress progress-tiny">
                                        <div class="progress-bar bg-danger" role="progressbar" style="width: 92%" aria-valuenow="92" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                  </div>
                              </div>
                          </div>

                        </div>
                    </div>
