<!-- Body Content Wrapper -->
<div class="ms-content-wrapper">
  <div class="row">
      <!-- Overview -->
      <div class="col-md-12">
          <div class="ms-panel">
              <div class="ms-panel-header">
                  <div class="d-flex justify-content-between">
                      <div class="ms-header-text">
                          <h6>USER STATICS</h6>
                          <p>Quick overview on your users</p>
                      </div>
                      <!-- <button type="button" class="btn btn-outline-primary ms-graph-metrics" name="button">Add New
                          Account</button> -->
                  </div>
              </div>
              <div class="ms-panel-body pb-0">
                  <div class="row">
                    <div class="col-xl-3 col-md-6">
                      <div class="ms-card card-gradient-success ms-widget ms-infographics-widget">
                          <div class="ms-card-body media">
                              <div class="media-body">
                                  <h6>Total Visitors</h6>
                                  <p class="ms-card-change"> <i class="material-icons">arrow_upward</i> 4567</p>
                                  <p class="fs-12">48% From Last 24 Hours</p>
                              </div>
                          </div>
                          <i class="flaticon-user"></i>
                      </div>
                  </div>
                  <div class="col-xl-3 col-md-6">
                      <div class="ms-card card-gradient-secondary ms-widget ms-infographics-widget">
                          <div class="ms-card-body media">
                              <div class="media-body">
                                  <h6>Total Active Users</h6>
                                  <p class="ms-card-change"><i class="material-icons">arrow_downward</i> 950</p>
                                  <p class="fs-12">2% Decreased from last budget</p>
                              </div>
                          </div>
                          <i class="flaticon-user"></i>
                      </div>
                  </div>
                  <div class="col-xl-3 col-md-6">
                      <div class="ms-card card-gradient-warning ms-widget ms-infographics-widget">
                          <div class="ms-card-body media">
                              <div class="media-body">
                                  <h6>Total Inactive Users</h6>
                                  <p class="ms-card-change"> <i class="material-icons">arrow_upward</i> 4567</p>
                                  <p class="fs-12">48% From Last 24 Hours</p>
                              </div>
                          </div>
                          <i class="flaticon-user"></i>
                      </div>
                  </div>
                  <div class="col-xl-3 col-md-6">
                      <div class="ms-card card-gradient-info ms-widget ms-infographics-widget">
                          <div class="ms-card-body media">
                              <div class="media-body">
                                  <h6>Total Deleted Users</h6>
                                  <p class="ms-card-change"><i class="material-icons">arrow_downward</i> 8095</p>
                                  <p class="fs-12">2% Decreased from last budget</p>
                              </div>
                          </div>
                          <i class="flaticon-user"></i>
                      </div>
                  </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="col-lg-12">
        <!-- User Activity By Country Widget -->

      <div class="ms-panel">
        <div class="ms-panel-header">
            <h6>Users By Location</h6>
        </div>
        <div class="ms-panel-body">
            <div class="row mb-12">
                <div class="col-lg-12 col-md-12">
                    <input #search class="search" class="form-control" type="text" placeholder="Search..." (keydown.enter)="onSearch(search.value)">
                </div>
            </div>
            <div class="table-responsive">
                <ng2-smart-table [settings]="settings" [source]="source" class="table w-100 thead-primary"></ng2-smart-table>
            </div>
        </div>
    </div>
    </div>

     <!-- Users by country table -->
     <div class="col-xl-6 col-md-12">
      <div class="ms-panel ms-widget ms-panel-fh">
          <div class="ms-panel-header">
              <h6>Users By Location</h6>
              <p>Your user base based on location</p>
          </div>
          <div class="ms-panel-body">
              <div class="table-responsive">
                  <table class="table table-hover mb-0">
                      <thead>
                          <tr>
                              <th scope="col">Country</th>
                              <th scope="col">Users</th>
                              <th scope="col">Percentage</th>
                              <th scope="col">Exits</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let item of countrytable">
                              <th scope="row"> <img [src]="item.countryflag" alt="flags"></th>
                              <td>{{item.entrance | number:'1.2-2'}}</td>
                              <td>{{item.bouncerate | number:'1.2-2'}}%</td>
                              <td>{{item.exits | number:'1.2-2'}}</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
  <!-- Users Pie Chart -->
  <div class="col-xl-6 col-md-12">
      <div class="ms-panel ms-panel-fh">
          <div class="ms-panel-header">
              <h6>Users</h6>
              <p>Users by country visualized</p>
          </div>
          <div class="ms-panel-body">
              <div class="row">
                  <div class="col-xl-4 col-md-4">
                      <div class="ms-graph-labels column-direction">
                          <div class="ms-chart-no-label">
                              <span class="bg-success"></span>
                              <p>$9,348,319</p>
                          </div>
                          <div class="ms-chart-no-label">
                              <span class="bg-primary"></span>
                              <p>$4,344,316</p>
                          </div>
                          <div class="ms-chart-no-label">
                              <span class="bg-warning"></span>
                              <p>$518,513</p>
                          </div>
                          <div class="ms-chart-no-label">
                              <span class="bg-danger"></span>
                              <p>$348,319</p>
                          </div>
                          <div class="ms-chart-no-label">
                              <span class="bg-secondary"></span>
                              <p>$3,416,139</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-8 col-md-8">
                      <canvas baseChart [datasets]="PieChartData" [labels]="PieChartLabels"
                          [options]="PieChartOptions" [chartType]="PieChartType">
                      </canvas>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- User Traffic Line Chart -->
  <div class="col-xl-7 col-md-12">
      <div class="ms-panel ms-panel-fh">
          <div class="ms-panel-header">
              <h6>User Traffic</h6>
              <p>Track User Traffic</p>
          </div>
          <div class="ms-panel-body">
              <canvas baseChart [datasets]="UsertrafficChartData" [labels]="UsertrafficChartLabels"
                  [options]="UsertrafficChartOptions" [chartType]="lineChartType">
              </canvas>
          </div>
      </div>
  </div>
  <div class="col-xl-5 col-md-12">
      <div class="ms-panel ms-panel-fh ms-facebook-engagements">
          <div class="ms-panel-header">
              <h6>User Active Sessions by Month & Week</h6>
              <p>user session by week</p>
          </div>
          <div class="ms-panel-body p-0">
              <div class="ms-facebook-page-selection">
                  <p class="ms-text-dark">March 01, 2021 to March 31, 2021</p>
                  <span>Product: </span>
                  <div class="dropdown" ngbDropdown>
                      <a href="javascript:void(0)" class="has-chevron" ngbDropdownToggle>Select Week </a>
                      <ul ngbDropdownMenu class="dropdown-menu">
                          <li class="ms-dropdown-list">
                              <a class="media p-2" routerLink="/">
                                  <div class="media-body">
                                      <span>Week 1</span>
                                  </div>
                              </a>
                              <a class="media p-2" routerLink="/">
                                  <div class="media-body">
                                      <span>Week 2</span>
                                  </div>
                              </a>
                              <a class="media p-2" routerLink="/">
                                  <div class="media-body">
                                      <span>Week 3</span>
                                  </div>
                              </a>
                              <a class="media p-2" routerLink="/">
                                <div class="media-body">
                                    <span>Week 4</span>
                                </div>
                            </a>
                          </li>
                      </ul>
                  </div>
              </div>
              <ul class="ms-list clearfix">
                  <li class="ms-list-item">
                      <div class="d-flex justify-content-between align-items-end">
                          <div class="ms-graph-meta">
                              <h2>Week 1</h2>
                              <p class="ms-text-dark">45.07%</p>
                              <p class="ms-text-success">+28.44%</p>
                              <p>VS 66.68% (Prev)</p>
                          </div>
                          <div class="ms-graph-canvas">
                              <canvas baseChart [datasets]="engagedChartData" [labels]="UserpchChartLabels"
                                  [options]="UserpchChartOptions" [chartType]="lineChartType">
                              </canvas>
                          </div>
                      </div>
                  </li>
                  <li class="ms-list-item">
                      <div class="d-flex justify-content-between align-items-end">
                          <div class="ms-graph-meta">
                              <h2>March, 2021</h2>
                              <p class="ms-text-dark">9.07%</p>
                              <p class="ms-text-danger">-2.31%</p>
                              <p>VS 45.07% (Prev)</p>
                          </div>
                          <div class="ms-graph-canvas">
                              <canvas baseChart [datasets]="pageimmpChartData" [labels]="UserpchChartLabels"
                                  [options]="UserpchChartOptions" [chartType]="lineChartType">
                              </canvas>
                          </div>
                      </div>
                  </li>
              </ul>
          </div>
      </div>
  </div>
<!---------------------SECTION 4----------------------------------------------->
  <div class="col-xl-7 col-md-12">
    <div class="ms-panel ms-panel-fh">
      <div class="ms-panel-header header-mini">
        <div class="d-flex justify-content-between">
          <h6>User Active Session Time Chart & Gender Chart</h6>
            <div class="btn-group btn-group-toggle ms-graph-metrics" ngbRadioGroup name="radioBasic" [(ngModel)]="model">
              <label ngbButtonLabel class="btn btn-sm btn-outline-primary day">
                  <input ngbButton type="radio" [value]="1" (click)="day()"> Day
              </label>
              <label ngbButtonLabel class="btn btn-sm btn-outline-primary month">
                  <input ngbButton type="radio" value="middle" (click)="month()"> Month
              </label>
              <label ngbButtonLabel class="btn btn-sm btn-outline-primary year">
                  <input ngbButton type="radio" [value]="false" (click)="year()"> Year
              </label>
          </div>
      </div>
      <div class="d-flex justify-content-between ms-graph-meta">
          <ul class="ms-list-flex">
              <li>
                  <span>Active Users</span>
                  <h3 class="ms-count">85,390</h3>
              </li>
              <li>
                  <span>Inactive Users</span>
                  <h3 class="ms-count">19,038</h3>
              </li>
              <li>
                  <span>Deactivated Users</span>
                  <h3 class="ms-count">3,785</h3>
              </li>
          </ul>
          <div class="ms-graph-labels">
              <span class="ms-graph-regular"></span>
              <p>Male Users</p>
              <span class="ms-graph-decrease"></span>
              <p>Female Users</p>
          </div>
      </div>
  </div>
  <div class="ms-panel-body">
      <canvas baseChart [datasets]="ytsusChartData" [labels]="ytsusChartLabels"
          [options]="ytsusChartOptions" [chartType]="barChartType">
      </canvas>
  </div>
</div>
</div>
<div class="col-xl-5 col-md-12">
  <div class="ms-panel">
      <div class="ms-panel-header">
          <h6>Users Based On Days</h6>
      </div>
      <div class="ms-panel-body">
        <ul class="nav nav-tabs nav-justified has-gap" ngbNav #tablenav="ngbNav">
          <li [ngbNavItem]="1" class="fs-12">
              <a ngbNavLink> Mon </a>
              <ng-template ngbNavContent>
                  <div class="table-responsive">
                      <table class="table table-hover">
                          <thead>
                              <tr>
                                  <th scope="col">Total Users</th>
                                  <th scope="col">Active Users</th>
                                  <th scope="col">Inactive Users</th>
                                  <th scope="col">Deactivated Users</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let item of marketPosTable">
                                  <td>{{item.country}}</td>
                                  <td>{{item.value | number:'1.2-2'}}</td>
                                  <td class="ms-text-success" *ngIf="item.status">+{{item.position |
                                      number:'1.2-2'}}%</td>
                                  <td class="ms-text-danger" *ngIf="!item.status">-{{item.position |
                                      number:'1.2-2'}}%</td>
                                  <td>{{item.volume | number:'1.2-2'}}%</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </ng-template>
          </li>
          <li [ngbNavItem]="2" class="fs-12">
              <a ngbNavLink> TUE </a>
              <ng-template ngbNavContent>
                  <div class="table-responsive">
                      <table class="table table-hover">
                          <thead>
                              <tr>
                                <th scope="col">Total Users</th>
                                  <th scope="col">Active Users</th>
                                  <th scope="col">Inactive Users</th>
                                  <th scope="col">Deactivated Users</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let item of marketPosTable">
                                  <td>{{item.country}}</td>
                                  <td>{{item.value | number:'1.2-2'}}</td>
                                  <td class="ms-text-success" *ngIf="item.status">+{{item.position |
                                      number:'1.2-2'}}%</td>
                                  <td class="ms-text-danger" *ngIf="!item.status">-{{item.position |
                                      number:'1.2-2'}}%</td>
                                  <td>{{item.volume | number:'1.2-2'}}%</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </ng-template>
          </li>
          <li [ngbNavItem]="3" class="fs-12">
              <a ngbNavLink> WED </a>
              <ng-template ngbNavContent>
                  <div class="table-responsive">
                      <table class="table table-hover">
                          <thead>
                              <tr>
                                <th scope="col">Total Users</th>
                                  <th scope="col">Active Users</th>
                                  <th scope="col">Inactive Users</th>
                                  <th scope="col">Deactivated Users</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let item of marketPosTable">
                                  <td>{{item.country}}</td>
                                  <td>{{item.value | number:'1.2-2'}}</td>
                                  <td class="ms-text-success" *ngIf="item.status">+{{item.position |
                                      number:'1.2-2'}}%</td>
                                  <td class="ms-text-danger" *ngIf="!item.status">-{{item.position |
                                      number:'1.2-2'}}%</td>
                                  <td>{{item.volume | number:'1.2-2'}}%</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </ng-template>
          </li>
          <li [ngbNavItem]="4" class="fs-12">
              <a ngbNavLink> THU </a>
              <ng-template ngbNavContent>
                  <div class="table-responsive">
                      <table class="table table-hover">
                          <thead>
                              <tr>
                                <th scope="col">Total Users</th>
                                  <th scope="col">Active Users</th>
                                  <th scope="col">Inactive Users</th>
                                  <th scope="col">Deactivated Users</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let item of marketPosTable">
                                  <td>{{item.country}}</td>
                                  <td>{{item.value | number:'1.2-2'}}</td>
                                  <td class="ms-text-success" *ngIf="item.status">+{{item.position |
                                      number:'1.2-2'}}%</td>
                                  <td class="ms-text-danger" *ngIf="!item.status">-{{item.position |
                                      number:'1.2-2'}}%</td>
                                  <td>{{item.volume | number:'1.2-2'}}%</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </ng-template>
          </li>
          <li [ngbNavItem]="5" class="fs-12">
              <a ngbNavLink> FRI </a>
              <ng-template ngbNavContent>
                  <div class="table-responsive">
                      <table class="table table-hover">
                          <thead>
                              <tr>
                                <th scope="col">Total Users</th>
                                  <th scope="col">Active Users</th>
                                  <th scope="col">Inactive Users</th>
                                  <th scope="col">Deactivated Users</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let item of marketPosTable">
                                  <td>{{item.country}}</td>
                                  <td>{{item.value | number:'1.2-2'}}</td>
                                  <td class="ms-text-success" *ngIf="item.status">+{{item.position |
                                      number:'1.2-2'}}%</td>
                                  <td class="ms-text-danger" *ngIf="!item.status">-{{item.position |
                                      number:'1.2-2'}}%</td>
                                  <td>{{item.volume | number:'1.2-2'}}%</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </ng-template>
          </li>
      </ul>
      <div [ngbNavOutlet]="tablenav"></div>
      </div>
  </div>
  <div class="ms-panel">
      <div class="ms-panel-header">
          <h6>Total Users</h6>
          <p>Your Total Active Users</p>
      </div>
      <div class="ms-panel-body p-0">
          <div class="ms-quick-stats">
              <div class="ms-stats-grid">
                  <p class="ms-text-success">+47.18%</p>
                  <p class="ms-text-dark">8,033</p>
                  <span>Male</span>
              </div>
              <div class="ms-stats-grid">
                  <p class="ms-text-success">+17.24%</p>
                  <p class="ms-text-dark">6,039</p>
                  <span>Female</span>
              </div>
          </div>
      </div>
  </div>
</div>

                          <!------------------------END OF SECTION 4---------------------------->
  </div>
</div>
